<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://sqlserver:1433;databaseName=duAn_DienThoai</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">Quy123456@</property>

        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping -->
        <!-- <mapping class="model.TenClass"/> -->
    </session-factory>
</hibernate-configuration>
